name: CI

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build:
    if: github.event.pull_request.head.repo.full_name == github.repository
    runs-on: ubuntu-latest
    env:
      VITE_RPC_URL_MAINNET: ${{ secrets.VITE_RPC_URL_MAINNET }}
      VITE_RPC_URL_BASE: ${{ secrets.VITE_RPC_URL_BASE }}
      VITE_RPC_URL_ZORA: ${{ secrets.VITE_RPC_URL_ZORA }}
      VITE_WALLETCONNECT_PROJECT_ID: ${{ secrets.VITE_WALLETCONNECT_PROJECT_ID }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Cache node_modules
        id: cache
        uses: actions/cache@v4
        with:
          path: node_modules
          key: node-modules-${{ hashFiles('yarn.lock') }}

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Build
        run: yarn build

  lint:
    if: github.event.pull_request.head.repo.full_name == github.repository
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Cache node_modules
        id: cache
        uses: actions/cache@v4
        with:
          path: node_modules
          key: node-modules-${{ hashFiles('yarn.lock') }}

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Lint
        run: yarn lint

  test:
    if: github.event.pull_request.head.repo.full_name == github.repository
    runs-on: ubuntu-latest
    env:
      VITE_RPC_URL_MAINNET: ${{ secrets.VITE_RPC_URL_MAINNET }}
      VITE_RPC_URL_BASE: ${{ secrets.VITE_RPC_URL_BASE }}
      VITE_RPC_URL_ZORA: ${{ secrets.VITE_RPC_URL_ZORA }}
      ETHERSCAN_API_KEY: ${{ secrets.ETHERSCAN_API_KEY }}
      RPC_URL_MAINNET: ${{ secrets.RPC_URL_MAINNET }}
      RPC_URL_BASE: ${{ secrets.RPC_URL_BASE }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Cache node_modules
        id: cache
        uses: actions/cache@v4
        with:
          path: node_modules
          key: node-modules-${{ hashFiles('yarn.lock') }}

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Test
        run: yarn test
